{% extends "@SurvosLanding/public_base.html.twig" %}

{% block title "Survos Landing" %}

{% block test_navbar %}
    {% set menuHtml %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{ knp_menu_render('landing_menu', {'currentClass': 'active', 'template': '@SurvosLanding/knp_menu.html.twig'}) }}
    {{ knp_menu_render('auth_menu', {'currentClass': 'active', 'template': '@SurvosLanding/knp_menu.html.twig'}) }}
    </div>
</nav>
    {% endset %}

    <div class="row">
        <div class="col-md-6">
            {{ menuHtml }}
            <pre>
    {{ menuHtml|e }}
    </pre>
        </div>
        <div class="col-md-6">
            {% include "@SurvosLanding/navbar.html.twig" %}
            {% set workingMenuHtml = source('@SurvosLanding/navbar.html.twig') %}
            <pre>
    {{ workingMenuHtml|e }}
    </pre>
        </div>
    </div>
{% endblock %}

{% block oldnavbar %}
    <i class="fas fa-check"></i>
    TEST

    <!-- Navigation -->
<xnav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ app.request.baseUrl }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsivex">
        {{ knp_menu_render('test_menu', {'currentClass': 'active', 'template': 'knp_menu.html.twig'}) }}
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">


            <ul class="nav navbar-nav ml-auto">


                {{ 0 ? knp_menu_render('landing_menu', {'currentClass': 'active', 'template': 'knp_menu.html.twig'}) }}

                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout {{ app.user.originUsername }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile') }}"><i class="fa fa-pencil">Edit</i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile') }}">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</xnav>
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">


        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">
                <img class="img-fluid rounded" src="http://placehold.it/600x200?text={{ title|default(app.request.server.get('SERVER_NAME')|default('title'))}}" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h1>{{ app.request.baseUrl }}</h1>
                <p>{{ title|default(app.request.server.get('SERVER_NAME')|default('site message')) }} Description</p>
                <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
            </div>

            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body text-danger">
                <i class="fas fa-skull-crossbones"></i>Warning

                <p class="text-white m-0">Data updated here will be lost!  Do not use for production, only testing.</p>
            </div>
        </div>

        {{ knp_menu_render('landing_menu', {'currentClass': 'active', 'template': '@SurvosLanding/landing_menu_blocks.html.twig'}) }}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;</p>
        </div>
        <!-- /.container -->
    </footer>


{% endblock %}

